@model Article

<div class="panel panel-default">
    <div class="panel-heading">
        <a asp-controller="Articles" asp-action="ReadArticle" asp-route-articleId="@Model.ArticleId" class="btn btn-link">
            <p class="text-capitalize text-center">@Model.Title</p>
        </a>
    </div>
    <div class="panel-body">
        @Model.Summary
    </div>
    <div class="panel-footer">Comments: @Model.Comments.Count | Votes: @Model.Votes</div>
</div>