@model Article

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";

    var autor = ViewBag.Autor as ApplicationUser;
    var userVote = ViewBag.UserVote as ArticleVote;
}

@if (User.Identity.Name == autor?.UserName || User.IsInRole("Admin"))
{
    <br/>
    <div class="pull-right">
        <a asp-action="EditArticle" asp-route-articleId="@Model.ArticleId" class="btn btn-sm btn-info">
            Edit
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a asp-action="DeleteArticle" onclick="return confirm('Are you sure you want to delete this article?')"
           asp-route-articleId="@Model.ArticleId" class="btn btn-sm btn-danger">
            Delete
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    </div>
    <br />
    <hr />
}


<div class="row">
    <div class="panel panel-success">
        <div class="panel-heading">
            <p>
                <h2>@ViewBag.Title</h2>
            </p>
            <p class="col-md-offset-2">
                written by @autor?.UserName on @Model.Date.ToShortDateString()
            </p>
        </div>

        <div class="panel-body">
            <p class="lead">
                @Model.Summary
            </p>
            
            <p>
                @Model.Text
            </p>
        </div>
        
    </div>
</div>

<div class="row">
    <div class="pull-right col-md-2 alert alert-success">
        <h3 class="col-md-1 text-center">@Model.Votes</h3>
        &nbsp;
        &nbsp;

        @if (userVote != null && userVote.UpVote)
        {
            <img src="~/images/thumbs-up.png" alt="thumb up" height="50" />
        }
        else
        {
            <a asp-action="UpvoteArticle" asp-route-articleId="@Model.ArticleId">
                <img src="~/images/thumbs-up-greyed.png" alt="thumb up" height="50" />
            </a>
        }
        
        @if (userVote != null && userVote.DownVote)
        {
            <img src="~/images/thumbs-down.png" alt="thumb down" height="50" />
        }
        else
        {
            <a asp-action="DownvoteArticle" asp-route-articleId="@Model.ArticleId">
                <img src="~/images/thumbs-down-greyed.png" alt="thumb down" height="50" />
            </a>
        }

    </div>
</div>

<div class="row col-md-offset-1 col-md-9" id="comments">
    @{
        var comments = Model.Comments.OrderBy(m => m.Date).ToList();
    }
    @foreach (var comment in comments)
    {
        @Html.Partial("Comment", comment)
    }
</div>

<div class="row col-md-offset-4">
    <form asp-action="WriteComment" method="post">
        <div class="form-horizontal col-md-4">

            <input class="hidden" asp-for="UserId" value="@autor?.Id" id="user" />
            <input class="hidden" asp-for="ArticleId" value="@Model.ArticleId" id="article" />

            <div class="form-group row">
                <div class="input-group">
                    <input asp-for="Text" class="form-control" value="" id="text" />
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-primary" value="Comment" />
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>
